{%include 'base.html'%}

{%block content%}
<div class="container">
  <p class="jumbotron text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, est maiores. Pariatur laborum, nam eveniet veniam nulla fugit soluta qui ratione maiores aspernatur nesciunt quod ad eligendi asperiores doloremque dignissimos.</p>
</div>
{%for image in images%}
  <div class="row">
    <div class="col-md-4">
      <img src="{{image.image.url}}" class="img-thumbnail" alt="">
    </div>
    <div class="col-md-4">
      <p>{{image.name}}</p>
      <p>{{image.description}}</p>
    </div>
  </div>
  {%endfor%}

{%endblock%}