{%include 'base.html'%}

{%block content%}
<div class="container">
  <p class="jumbotron text-center">The Joy with photos is you can take them anywhere, anytime. This here is a gallery of my photos . Enjoy as you browse through</p>
</div>
<div class="card row">
  {%for image in images%}
 
    <div class="col-md-4">
      <img src="{{image.image.url}}" class="img-thumbnail" alt="">
      <p>{{image.name}}</p>
      <p>{{image.description}}</p>
    </div>
    
  
  {%endfor%}
</div>


{%endblock%}